@font-face {
    font-family: 'Gabarito';
    src: url(fonts/gabarito-variablefont.woff);
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/roboto-regular.woff);
}

body {
    font-family: Gabarito;
    background-color: #3f3f3f;
    margin: 0;
    padding: 0;
}

header {
    background-color: #415A77;
    color: #e4e4e4;
    text-align: center;
    padding: 20px;
}

.headblock {
    display: inline-block;
    border: 2px solid black;
    border-radius: 15px;
    color: #415A77;
    background-color: #e4e4e4;
    padding: 5px;
    padding-left: 10px;
}

.header {
    display: inline-block;
    padding: 5px;
}

.header #profile-photo {
    border-radius: 50px;
}

header h1 {
    font-size: 32px;
    margin: 0;
}

header p {
    font-size: 18px;
}

main {
    display: flex;
    gap: 20px;
    font-family: Roboto;
    max-width: 800px;
    margin: 20px auto;
    color: #0D1B2A;
    background-color: #E0E1DD;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.left-section, .right-section {
    width: 50%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.contact {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
}

.job, .project-title {
    border: 2px solid black;
    border-radius: 15px;
    background-color: #415A77;
    color: #e4e4e4;
    padding: 5px;
    padding-left: 10px;
}

.date {
    text-align: right;
    padding: 5px;
    padding-right: 10px;
}

.skills {
    display: flex;
    text-align: center;
}

h2 {
    border-bottom: 2px solid black;
    font-size: 24px;
    margin-top: 20px;
}

p {
    font-size: 16px;
    margin: 5px 0;
}

ul {
    list-style: circle;
    margin: 5px 0;
    padding-left: 20px;
}

ul .language {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: circle;
    margin: 5px 0;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 30px;
    clear: both;
}
