@font-face {
    font-family: 'Gabarito';
    src: url(fonts/gabarito-variablefont.woff);
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/roboto-regular.woff);
}

body {
    font-family: Gabarito;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #444444;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.header {
    display: inline-block;
    padding: 5px;
}

.header #profile-photo {
    border-radius: 50px;
}

header h1 {
    font-size: 32px;
    margin: 0;
}

header p {
    font-size: 18px;
}

main {
    font-family: Roboto;
    max-width: 800px;
    margin: 20px auto;
    color: rgb(59, 59, 59);
    background-color: #dadada;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
}

.job {
    border: 1px solid black;
    padding: 5px;
    padding-left: 10px;
}

.date {
    text-align: right;
    padding: 5px;
    padding-right: 10px;
}

h2 {
    border-bottom: 1px solid black;
    font-size: 24px;
    margin-top: 20px;
}

p {
    font-size: 16px;
    margin: 5px 0;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 30px;
}
